.sidebar-container {
    position: relative;
  }
  
  .toggle-button {
    position: fixed;
    top: 0;
    left: 97%;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1050;
  }
  .Light{
    background-color:  #333;
  }
  .Dark{
    background-color:#a09a9a;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 100vw;
    width: 15vw;
    height: 100vh;
    background-color: transparent;
    color: white;
    overflow-y: auto;
    transition: transform 0.5s ease;
    transform: translateX(100%);
  }
  
  .sidebar.closed {
    transform: translateX(0); 
  }
  
  .sidebar.open {
    transform: translateX(-100%);
  }
  .sidebar-title {
    padding: 20px;
    font-size: 1.5rem;
    color: #ddd;
  }
  
  .sidebar-links {
    list-style-type: none;
    padding: 0;
    flex-direction: column;
    margin: 0;
    display:flex;
  }
  
  .sidebar-links li {
    padding: 10px 20px;
  }
  
  .nav-link {
    background: none;
    border: none;
    color: white;
    text-align: right;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .btn {
    font-size: 1rem;
    cursor: pointer;
    width: 12em;
    float: right;
  }
  
  .nav-link:hover {
    color: #ddd;
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
  
    .toggle-button {
      top: 10px;
      left: 10px;
      font-size: 20px;
    }
  
    .sidebar-title {
      font-size: 1.2rem;
      padding: 15px;
    }
  
    .sidebar-links li {
      padding: 8px 15px; 
    }
  
    .nav-link {
      font-size: 0.9rem;
    }
    
  }
  
  @media (max-width: 480px) {
    .sidebar {
      width: 15vh;
    }
  
    .sidebar-title {
      font-size: 1rem;
      padding: 10px;
      position: relative;
    }
  
    .nav-link {
      font-size: 0.8rem;

    }
    .btn {
      font-size: 0.9rem;
      width: 6em;
    }
  }
  